@media (min-width: 1500px){
    .services .half{
        height: 600px;
    }
    .news .card h4{
        margin-bottom: 100px;
    }
}

@media (max-width: 1202px){
    nav{
        display: none;
    }
    .burger-open{
        display: block;
    }
    .services .half{
        height: 450px;
    }
        
    .slider .list{
        width: 290%;
    }
    .slider .slide{
        width: 30%;
    }
    .news .cards{
        flex-direction: column;
    }
    .news .card{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 150px;
        width: 380px;
    }
    .news .card:hover{
        color: #fff;
        transform: scale(1.02);
    }
    .news .card:nth-child(3n){
        margin-bottom: 0;
    }
    .news .card h4{
        margin-bottom: 100px;
    }

}
@media (max-width: 1025px){ 
    .screensaver img,
    .screensaver iframe{
        width: 61%;
        height: 290px;
    }
    .advantages .list{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}
@media (max-width: 900px){
    .promo h2{
        width: 80%;
        font-size: 48px;
    }
    .screensaver,
    .screensaver.video-show{
        margin-left: 0;
        padding-left: 0;
    }
    .screensaver img,
    .screensaver iframe{
        width: 80%;
    }
    .services.wrapper,
    .reviews .social-networks{
        flex-direction: column;
        align-items: center;
    }
    .services .half{
        width: 450px;
        margin-bottom: 30px;
        height: 500px;
    }  
    .advantages h2,
    .insurance h2,
    .manufacturer h3{
        margin-top: 40px;
        margin-left: 0;
        text-align: center;
        font-size: 28px;
    }
    .manufacturer .list{
        flex-direction: column;
    }
    .manufacturer .item{
        width: 70%;
        height: 55px;
        margin-bottom: 30px;
    }

    .reviews .social-networks .item{
        margin-bottom: 30px;
    }
    .footer .wrapper{
        flex-direction: column-reverse;
    }
    .footer .social-neworks{
        width: 30%;
        margin-bottom: 25px;
    }
}
@media (max-width: 800px){
    .promo{
        background-size: 100%;
    }
    .about h3{
        font-size: 25px;
    }
    .about h3::before,
    .about h3::after{
        max-width: 168px;
    }
    .about h2{
        font-size: 22px;
    }
    .advantages h2{
        margin-top: 70px;
    } 
    .manufacturer h3{
        margin-bottom: 20px;
    }
    .slider{
        width: 100%;
    }
}
@media (max-width: 700px){
    .promo h2{
        font-size: 42px;
    }
    .about h3::before,
    .about h3::after{
        max-width: 108px;
    }
    .about h2{
        font-size: 16px;
    }
    .screensaver img,
    .screensaver iframe{
        width: 90%;
        height: 280px;
    }
}
@media (max-width: 600px){
    .promo h2{
        width: 90%;
        font-size: 38px;
    }
    .screensaver img,
    .screensaver iframe{
        height: 240px;
    }
    .advantages h2{
        margin-top: 120px;
    }
    .insurance ul{
        flex-direction: column;
    }
    .insurance li{
        margin-bottom: 30px;
    }

    .slide h2{
        font-size: 16px;   
    }
    .slide p{
        font-size: 12px;
    }
    .news .card{
        width: 60%;
    }
    .news .card h4{
        margin-bottom: 30px;
    }
    .info{
        padding-top: 60px;
    }
    .info ul{
        flex-direction: column;
        margin: 10px 20px;
    }
    .info li{
        margin: 8px 0px;
    }
}
@media (max-width: 460px){
    .promo{
        padding-top: 12.3%;
    }
    .promo h2{
        font-size: 28px;
        line-height: 48px;
        margin-bottom: 52px;
    }
    .promo button{
        width: 192px;
        line-height: 36px;
        font-size: 14px;
    }
    .about h2{
        width: 100%;
        margin: 0 auto;
        padding: 0;
        font-size: 12px;
        align-items: center;
    }
    .about h2 img{
        width: 30px;
    }
    .screensaver{
        margin-bottom: -70px;
    }
    .screensaver img,
    .screensaver iframe{
        width: 360px;
        height: 200px;
    }
    .advantages .list{
        grid-template-columns: 1fr;
    }

    .services .half{
        text-align: center;
        width: 90%;
        height: 380px;
        padding: 15px
    }
    .services div{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .services button{
        margin-top: 5px;
    }
    .services p{
        margin: 15px auto;
    }
    .manufacturer .item{
        width: 85%;
        height: 55px;
        margin-bottom: 30px;
    }
    .slide h4{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .slide p{
        font-size: 10px;
    }
    .info ul{
        flex-direction: column;
    }
    .news .card{
        width: 80%;
    }
    .footer .social-neworks{
        width: 60%;
    }
}
@media (max-width: 400px){
    .logo,
    .logo img{ 
        width: 105px;
    }
    .nav.mobile{
        padding-top: 25px;
    }
    .burger_open,
    .burger_close{
        font-size: 18px;
    }
    .promo h2{
        font-size: 30px;
    }

    .screensaver{
        margin-top: 20px;
    }
    .screensaver img,
    .screensaver iframe{
        width: 300px;
        height: 180px;
    }
    .screensaver-btn{
        left: calc(50% - 22px);
    }
    .advantages h2{
        margin-top: 70px;
    }
    .services .half{
        padding: 5px;
        height: 330px;
    }
    .services h3{
        font-size: 32px;
    }
    .services .half p{
        font-size: 12px;
    }

    .news .card{
        margin-top: -40px;
        margin-bottom: 60px;
    }
    .news .card h4{
        font-size: 20px;
        line-height: 28px;
    }
    .news .card p{
        font-size: 12px;
        line-height: 20px;
    }
}
